{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
     <div class="container-fluid container-lg vh-100">
        <h1>Nouvelle formation</h1>

        {{ include('course/_form.html.twig') }}

        <a href="{{ path('app_course_index') }}" class="btn btn-french-lilac my-2">Retour</a>
    </div>
{% endblock %}
