{% extends 'base.html.twig' %}

{% block title %}Sections{% endblock %}

{% block body %}
    <div class="container-fluid container-lg vh-100">
        <h1>Mes sections</h1>

        <table class="table">
            <thead>
                    <th>Title</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.title }}</td>
                    <td>
                        <a href="{{ path('app_section_edit', {'id': section.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune correspondance trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_section_new') }}" class="btn btn-french-lilac">Nouvelle section</a>
        <a href="{{ path('app_instructor', {'id': user.id }) }}" class="btn btn-french-lilac  mx-5">Retour</a>
    </div>
{% endblock %}
