{% extends 'base.html.twig' %}

{% block title %}Nouvelle section{% endblock %}

{% block body %}
    <div class="container-fluid container-lg">
        <h1>Nouvelle section</h1>

        {{ include('section/_form.html.twig') }}

        <a href="{{ path('app_section_index') }}">back to list</a>
    </div>
{% endblock %}
