@import "~bootstrap/scss/bootstrap";

/* SCSS RGB */
$french-lilac: rgba(150, 107, 157, 1);
$old-rose: rgba(201, 134, 134, 1);
$mellow-apricot: rgba(242, 184, 128, 1);
$seashell: rgba(255, 244, 236, 1);
$champagne-pink: rgba(231, 207, 188, 1);

body {
  background-color: $seashell;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar {
  background-color: $champagne-pink;
  font-size: 1.5em;
  .list {
    list-style: none;
    display: flex;
    justify-content: end;
    .list-item {
      margin-right: 20px;
    }
  }
  a {
    color: $french-lilac;

    &:link {
      text-decoration: none;
    }
    #logo {
      width: max-content;
      height: max-content;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
}

@media (max-width: 992px) {
  .navbar {
    font-size: 1.8em;
    .list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    #registerNavbar {
      margin-bottom: 20px;
    }
    #loginNavbar {
      margin-top: 20px;
    }
  }
}
