{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div class="container-fluid container-lg">
    <h1 class="text-center">Quiz</h1>
    {% for question in questions %}
        <div class="row my-3 question" id="{{question.id}}">
            <h4 class="my-3">{{ question.question}}</h4>
            {% for element in question.answers %}
                <div class="form-check d-flex justify-content-start align-items-center">
                    <input class="form-check-input mx-3" type="checkbox" value="" >
                    <label class="form-check-label" for="flexCheckDefault">{{ element[0] }}</label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class="position-absolute end-50">
    <button class="btn btn-french-lilac mx-5" id="checkButton">Vérifier</button>
    <a href="{{ path('app_course_inprogress',{'id':app.request.get('course')} ) }}" class="btn btn-french-lilac">Retour</a>
    </div>
</div>
{% endblock %}
