{% extends 'base.html.twig' %}

{% block title %}Nouvelle leçon{% endblock %}

{% block body %}
    <div class="container-fluid container-lg">
        <h1>Nouvelle leçon</h1>

        {{ include('lesson/_form.html.twig') }}

        <a href="{{ path('app_lesson_index') }}" class="btn btn-french-lilac my-2">Retour</a>
    </div>
{% endblock %}
