<div class="container-fluid container-lg" id="footer">
  <div class="d-flex justify-content-between">
    <div class="d-flex mx-2">
      <a href="#" class="align-self-center mx-5" id="LegalNotice">Mentions légales</a>
      <a href="#" class="align-self-center mx-5" id="termsOfUse">Conditions d'utilisation</a>
    </div>
      <div class="my-2">
        <span id="textSocialNetwork">Retrouvez-nous sur les reseaux sociaux</span>
        <a href="#"> <img src="{{ asset("uploads/images/facebook.png") }}" alt="facebook_logo" class="mx-2"></a>
        <a href="#"> <img src="{{ asset("uploads/images/twitter.png") }}" alt="twitter_logo" class="mx-2"></a>
      </div>
  </div>
</div>  