<div class="container-fluid container-lg">
  <nav class="row navbar mt-5">
      <div class="d-flex mx-2 col-8">
        <img src="{{ asset("uploads/images/logo.png") }}" alt="logo" >
        <a href="#" class="align-self-center mx-5" id="allCoursesNavbar">Toutes nos formations</a>
      </div>
      <ul class="list mx-2 mt-2 col">
        {% if app.user %}
          <li class="list-item" id="logoutNavbar"><a href="{{ path("app_logout") }}">Se déconnecter</a></li>
        {% else %}
          <li class="list-item" id="registerNavbar"><a href="#">S'inscrire</a></li>
          <li class="list-item" id="loginNavbar"><a href="{{ path("app_login") }}">Se connecter</a></li>
        {% endif %}
      </ul>
    
  </nav>
</div>  