{% extends 'base.html.twig' %}
{% block title %}Les formations{% endblock %}

{% block body %}
<div class="container-fluid container-lg">
  <div class="row d-flex justify-content-center align-items-center" id="allCardsPage">
  {% for course in allCourses %}
    <div class="col-xs-12 col-lg-3">
      <div class="card mx-4 my-5">
        <div class="courseCard">
          <img src="{{ asset("uploads/images/logo.png") }}" class="card-img-top" alt="course_picture">
          <div class="card-body col courseCardText">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.description}}.</p>
            <a href="#" class="btn btn-french-lilac">Suivre</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
